body
{
	margin: auto;
	background-color: #BCDEE7;
}

#homeButton
{
  left: 0;
  cursor: pointer;
  opacity: 0.2;
}
#homeButton:hover
{
	opacity: 0.6;
}

#homeButton:active
{
	opacity: 1;
}
#banner
{
  display: flex;
  background-color: #36c8ed;
  font-size: 2em;
  font-family: "Georgia";
  margin: 0;
  width: 100%;
  justify-content: space-evenly;
  color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}


#bannerText
{
	margin: 0;
	cursor: default;
	text-shadow: 2px 2px gray;
}
#bannerText:hover{
	text-shadow: 2px 2px black;
}

.titleDiv
{
    cursor: pointer;
    font-family: 'Impact';
    font-style: bold;
    font-size: 1em;    
	margin:0;
	padding-top: 0px;
}

.bodyDiv
{
    cursor: pointer;
    font-family: 'Georgia', sans-serif;
    font-size: 1em;
    color:black;
    margin-bottom: 70;
	padding: 1.2em;
	padding-bottom: 1.3em;
}

.profile{
	font-family: 'Noto Sans', sans-serif;    
    font-size: 1em;   		
	text-align: center;
}

.icon{  	
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
    border-color: white;
}

.posterDiv
{
    font-family: 'Noto Sans', sans-serif;
    font-style: bold;
    font-size: 1em;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.classPostDiv{	
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin-left: 8em;
	margin-right: 8em;
	padding-bottom: 0;
	border-style: solid;
    border-color:white;
	background-color: #f9f8e8;
	padding: 1em;
}
.classPostDiv:hover{
	background-color: #f2e0b5;
}
.classPostDiv:active{
	background-color:#ead39d;
}
#headText{
  margin: 0;
}

#headTextContainer
{
  text-align: center;
}

#headerContainer
{
  display: flex;
  margin: 0;
  flex-direction: column;
}

#mainFooterDiv
{

}

footer
{
  position: absolute;
  bottom: 0;
  font-family: "Impact";
}
